/* pages/personal_center/personal_center.wxss */
page{
  background: #F5F5F5;
}
.user_information{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  // margin-top: 20px;
  padding: 20rpx;
  // margin-top: 16rpx;
  background-color: white;
}
.user_info{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  // margin-top: 20px;
  padding: 20rpx;
  margin-top: 10rpx;
  margin-bottom: 16rpx;
  background-color: white;
}
._text{
  display: flex;
  flex-flow: column wrap;
  color: #346FC2;
}
.user_text{
  display: flex;
  flex-flow: column wrap;
  margin-left: 20px;
  color: #346FC2;
}
.car_text{
  position: relative;
  top: 6px;
}
.line{
  background: #dddddd;
  width: 100%;
  height: 5rpx;
  margin-top: 20px;
  margin-bottom: 20px;
}
.divider{
  height: 2rpx;
  color: gray;
}
.name{
  font-weight: bold;
  font-size: large;
  align-self: center;;
}
.namemessage{
  font-weight: bold;
  font-size: large;
  align-self: auto;
}
.id{
  font-size: medium;
  color: gray;
  margin-top: 20px;
  width: 100px;
}
.dudu{
  position: absolute;
  margin-left: 10px;
  font-size: medium;
  color: gray;
  margin-top: 50px;
  width: 100px;
}
.avator{
  position: relative;
  overflow: hidden;
  width: 120rpx;
  height: 120rpx;
  border-radius: 50%;
  border: 2px solid #fff;
  margin: 10px 20px;
}
.icon{
  position: relative;
  overflow: hidden;
  // width: 120rpx;
  // height: 120rpx;
  border: 2px solid #fff;
  margin: 10px 20px;
}
.inpic{
  position: relative;
  margin-left: auto;
  margin-right: 24rpx;

}
.userid{
  display: flex;
  flex-direction: column;
  color: #78a4fa;
  margin-top: 10rpx;
}
.copy{
  margin-left: 10rpx;
}
.avatar{
  height: 80rpx;
  width: 80rpx;
}