.leftmessage{
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 20rpx;
  margin-right: auto;
}
.rightmessage{
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 20rpx;
  margin-left: auto;

}
.nameAndContent{
  display: flex;
  flex-direction: column;
  margin: 20rpx;
  margin-top: 5rpx;
  word-break: break-all;
  margin-bottom: 0;
}
.leftcontentContainer{
  background-color: #f0f0f0;
  border-radius: 0 0.8em 0.8em 0.8em;
  padding: 20rpx;
  margin-top: 10rpx;
  margin-right: auto;
}
.rightcontentContainer{
  background-color: #f0f0f0;
  border-radius: 0.8em 0 0.8em 0.8em;
  padding: 20rpx;
  margin-top: 10rpx;
  margin-left: auto;
}
.time{
  margin-left: 6rpx;
}
.righttime{
  font-size: small;
  color: #999999;
  margin-left: auto;
  margin-top: 8rpx;
}
.onemessage{
  display: flex;
}
.at-avatar{
  width: 100rpx;
  height: 100rpx;
  color: #FFF;
  font-size: 40rpx;
  line-height: 100rpx;
  text-align: center;
  border-radius: 8rpx;
  background: #E5E5E5;
  -webkit-box-shadow: 0 0 50rpx 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 50rpx 0 rgba(0, 0, 0, 0.05);
  overflow: hidden;
  min-width: 100rpx;
}
.at-avatar--circle{
  border-radius: 50%;
  background-clip: border-box;
  overflow: hidden;
}
.bottombar{
  display: flex;
  flex-direction: row;
  margin-top: 8rpx;
  font-size: small;
  color: #999999;
}
.name{
  margin-left: auto;
}
.centerTime{
  text-align: center;
  font-size: small;
  color: #999999;
  margin: -6rpx;
}
.index{
  margin-top: 40rpx;
}