.card.at-card {
  border-top: 1PX #d6e4ef solid;
  border-bottom: 1PX #d6e4ef solid;
  border-right: 1PX #d6e4ef solid;
  border-left: 1PX #d6e4ef solid;
  margin: 0 24rpx;
  border-radius: 12rpx;
  background-color: #FFF;
}
.at-card__header{
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-align: center;
  border-bottom: 1PX #d6e4ef solid;
  padding: 18rpx 24rpx;
  position: relative;
}
.at-card__header-thumb{
  -webkit-flex: 0 0 32rpx;
  -ms-flex: 0 0 32rpx;
  flex: 0 0 32rpx;
  -webkit-box-flex: 0;
  min-height: 80rpx;
  min-width: 80rpx;
  display: block;
  line-height: 0;
  margin-right: 16rpx;
}
.bottomBar{
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}
.like{
  max-height: 50rpx;
  max-width: 50rpx;
  margin-left: auto;
}
.comment{
  max-height: 50rpx;
  max-width: 50rpx;
  margin-left: 20px;
}
.content{
  display: flex;
  flex-wrap: wrap;
  font-size: large;
  margin-top: 10px;
  margin-bottom: 20px;
  word-break: break-all;
}
.delete{
  max-height: 50rpx;
  max-width: 50rpx;
  margin-right: auto;
}
.fab{
  position: fixed;
  bottom: 170rpx;
  right: 35rpx;
}
// .at-list{
//   background-color: #FFF;
//   position: relative;
//   padding-bottom: 130rpx;
// }
.commentBlock{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

}
.onecomment{
  display: flex;
  flex-direction: row;
}
.commentReal{
  display: block;
}
.commentname{
  color: blue;
  font-size: small;
}
.commentcontent{
  font-size: small;
  word-break: break-all;
}
.at-card__header-thumb-info{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.commentView{
  margin-top: auto;
}
.commentView{
  display: flex;
  flex-direction: row;
  
}
// .at-button--primary{

// }