.at-button--small{
  padding: 10rpx;
  width: auto;
  min-width: 100rpx;
  max-width: 710rpx;
  height: auto;
  font-size: 40rpx;
  line-height: initial;
  margin-bottom: 10px;
  margin-bottom: 10px;
}